<div class = "header">
    <nav>
        <a href = "/">Homepage</a>
        <a href = "/dashboard">Dashboard</a>
        <a href = "/login">Login</a>
    </nav>
    <h1 id = "title">The Tech Blog</h1>
</div>

<div class = "card-container">
    <ul>
        {{#each posts}}
        <li>
            <div class = "card">
                <h2 class = "card-header">
                    {{title}}
                    <span class = "card-creater">
                        Created by {{user.username}} on {{created_at}}
                    </span>
                </h2>
                <p class = "card-text">{{text}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
</div>