
<div class = "form-container">
    <form class = "login-form">
        <div>
            <label for="username-login">Username: </label><br>
            <input type = "text" id = "username-login" name = "username-login">
        </div><br>
        <div>
            <label for = "password-login">Password: </label><br>
            <input type = "password" id = "password-login" name = "password-login">
        </div><br>
        <div>
            <button id = "login">Login</button><br><br>
            <a id = "signup-link" href = "/signup">Signup instead</a>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>