{{!-- <div class = "header">
    <nav>
        <a href = "/">Homepage</a>
        <a href = "/dashboard">Dashboard</a>
        {{#if loggedIn}}
            <a href = "/login">Login</a>
        {{else}}
            <a href = "logout">Logout</a>
        {{/if}}
    </nav>
    <h1 id = "title">The Tech Blog</h1>
</div> --}}

<div class = "form-container">
    <form class = "signup-form">
        <div>
            <label for="username-login">Username: </label><br>
            <input type = "text" id = "username-login" name = "username-login">
        </div><br>
        <div>
            <label for = "password-login">Password: </label><br>
            <input type = "password" id = "password-login" name = "password-login">
        </div><br>
        <div>
            <button id = "login">Login</button><br><br>
            <a id = "signup-link" href = "/signup">Signup instead</a>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>