

<div class = "form-container">
    <form class = "signup-form">
        <div>
            <label for="username-signup">Username: </label><br>
            <input type = "text" id = "username-signup" name = "username-signup">
        </div><br>
        <div>
            <label for = "password-signup">Password: </label><br>
            <input type = "password" id = "password-signup" name = "password-signup">
        </div><br>
        <div>
            <button type = "submit" id = "signup">Signup</button><br><br>
            <a id = "login-link" href = "/login">Login instead</a>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>
